openapi: 3.2.0
info:
  title: Yahoo (formerly AOL) OAuth 2.0 and OAuth2 OpenID Connect API
  description: 'Yahoo OAuth 2.0 and OpenID Connect endpoints used by developers building on

    the Yahoo / former AOL identity platform. Following AOL''s acquisition by

    Verizon and merger with Yahoo, AOL developer identity APIs have been

    consolidated into the Yahoo Developer Network. The OAuth 2.0 Authorization

    Code grant is the supported flow; OpenID Connect adds a userinfo endpoint

    and a JWKS endpoint exposed at api.login.yahoo.com.


    This specification is generated from the public Yahoo Developer Network

    OAuth 2.0 / OpenID Connect documentation and the OpenID Connect discovery

    document at https://login.yahoo.com/.well-known/openid-configuration.

    '
  version: 1.0.0
  contact:
    name: Yahoo Developer Support
    url: https://developer.yahoo.com/forum/
  license:
    name: Yahoo Terms of Service
    url: https://legal.yahoo.com/us/en/yahoo/terms/otos/index.html
servers:
- url: https://api.login.yahoo.com
  description: Yahoo identity / OAuth 2.0 / OpenID Connect server
tags:
- name: OpenID Connect
  description: OpenID Connect userinfo and JWKS endpoints
paths:
  /openid/v1/userinfo:
    get:
      tags:
      - OpenID Connect
      summary: OpenID Connect UserInfo
      description: 'Returns claims about the authenticated end user. The request must

        carry a valid OAuth 2.0 access token issued with the `openid`

        scope as a Bearer token.

        '
      operationId: getUserInfo
      security:
      - bearerAuth: []
      responses:
        '200':
          description: User claims
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
        '401':
          description: Missing or invalid bearer token
  /openid/v1/certs:
    get:
      tags:
      - OpenID Connect
      summary: JSON Web Key Set
      description: 'Returns the JWKS used to verify Yahoo-issued ID tokens. Clients

        should cache the keys and rotate based on `kid` values present in

        the ID token header.

        '
      operationId: getJwks
      responses:
        '200':
          description: JSON Web Key Set
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items:
                      type: object
components:
  schemas:
    UserInfo:
      type: object
      description: OpenID Connect standard claims returned by Yahoo
      properties:
        sub:
          type: string
        name:
          type: string
        given_name:
          type: string
        family_name:
          type: string
        email:
          type: string
          format: email
        email_verified:
          type: boolean
        locale:
          type: string
        profile_images:
          type: object
          additionalProperties:
            type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication with base64-encoded `client_id:client_secret`
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer access token
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.login.yahoo.com/oauth2/request_auth
          tokenUrl: https://api.login.yahoo.com/oauth2/get_token
          scopes:
            openid: OpenID Connect authentication
            profile: Basic profile information
            email: Email address
